# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Django migrations cache (optional)
**/migrations/*.pyc
**/migrations/__pycache__/

# Ignore Node.js dependencies
node_modules/


# Ignore Python virtual environments
venv/
virtualenv/
.virtualenv/
virtual env/
private/

